@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    /* overflow: hidden; */
    font-family: 'Inter', sans-serif;
    background-color: #1F1F1F;
}

.header
{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10%;
    padding: 10px 100px;
    position: relative;
}

.logo
{
    height: 80%;
}

.menu-options
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    padding: 0;
    width: 60%;
}

.menu-option
{
    margin-left: 50px;
    font-style: none;
    list-style: none;
    text-transform: uppercase;
}

.menu-option a 
{
    color: #717171;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.menu-option a:hover
{
    color: #FFF;
}

.option-active
{
    color: #FFF !important;
}

.searchBar
{
    display: none;
    position: relative;
    width: 70%;
    animation: fade-in 1.5s forwards;
}

.searchBar input
{
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.searchBar img 
{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 25px;
    cursor: pointer;
}

.searchBar input:focus
{
    border: none;
    outline: none;
}

@keyframes fade-in 
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.perfil
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    align-self: flex-end;
    position: absolute;
    top: 40px;
    right: 330px;
}

.perfil img
{
    cursor: pointer;
    margin-left: 10px;
}

.slider
{
    margin-bottom: 30px;
}

.slider img
{
    width: 100%;
}

.title
{
    font-size: 32px;
    font-weight: 400;
    color: #FFF;
    margin: 50px 30px 30px 100px;
}

.articles
{
    display: grid;
    grid-template-columns: repeat( 6, 310px);
    margin: 0px 100px;
}

.articles img
{
    border-radius: 10px;
}

.footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.footer span
{
    padding: 10px;
}