@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
  font-family: "Inter", sans-serif;
  background-color: #1f1f1f;
}

.title {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  margin: 50px 30px 30px 100px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(6, 300px);
  margin: 0px 100px;
}

.articles img {
  max-height: 400px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 10px;
}

#banner {
  margin: 0 auto;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: auto;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1.5s;
}

.slide img {
  width: 100%;
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background-color: #ffffff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

.row {
  margin-left: 20px;
  color: white;
}

.row__title {
  margin: 10px 0 0 35px;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  margin-right: 10px;
  transition: transform 500ms;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

#row__posters:hover {
  transform: scale(1.08);
}

.row__posterLarge,
.row__posterLarge1,
.row__posterLarge2 {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 500ms;
}

.row__posterLarge:hover,
.row__posterLarge1:hover,
.row__posterLarge2:hover {
  cursor: pointer;
  transform: scale(1.09);
  opacity: 1;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10%;
  padding: 10px 100px;
  position: relative;
}

.logo {
  height: 80%;
  cursor: pointer;
}

.menu-options {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 60%;
}

.menu-option {
  margin-left: 50px;
  font-style: none;
  list-style: none;
  text-transform: uppercase;
}

.menu-option a {
  color: #717171;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

.menu-option a:hover {
  color: #fff;
}

.option-active {
  color: #fff !important;
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  align-self: flex-end;
  position: absolute;
  top: 40px;
  right: 330px;
}

.perfil img {
  cursor: pointer;
  margin-left: 10px;
}
