@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
  font-family: "Inter", sans-serif;
  background-color: #1f1f1f;
  position: fixed;
}

.main_empty_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
}

.main_empty_container .empty_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.main_empty_container img {
  width: 20%;
}

.main_empty_container h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  margin: 20px;
  color: whitesmoke;
  font-weight: 500;
}

.main_empty_container h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  margin: 0px 20px 20px 20px;
  color: whitesmoke;
  font-weight: 300;
}

.main_empty_container button {
  width: 25%;
  padding: 20px 0px 20px 0px;
  background: linear-gradient(180deg, #483d7c 0%, #150b43 161.67%);
  border-radius: 10px;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  font-size: 20px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

#list li {
  width: 250px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.8;
}

#list .card-label {
  font-size: 20px;
  font-weight: 500;
  background-color: #000000;
  opacity: 0.9;
  width: inherit;
  padding: 15px 0 15px 0;
  text-align: center;
  color: whitesmoke;
  position: absolute;

  border-radius: 0 0 10px 10px;
}

#list .card-label:hover {
  cursor: pointer;
}

#list li img {
  height: 100%;
  width: 100%;

  border-radius: 10px;
}

.add_list {
  width: 250px;
  height: 400px;
  margin: 16px 0 0 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.267);
}

.add_list h2 {
  color: #fff;
  font-weight: 400;
}

.add_list:hover {
  cursor: pointer;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  left: 0;
  top: 0;

  position: fixed;
  z-index: 1;

  width: 100%;
  height: 100%;

  overflow: auto;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  width: 700px;
  height: 375px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #000;
  border-radius: 20px;
}

.title {
  color: #f2f2f2;
  font-size: 30px;
  margin: 0;
  font-weight: 400;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: column;
}

.field_title {
  color: #fff;
  margin: 15px 0px 5px 10px;
}

.field {
  width: 500px;
  height: 30px;

  font-size: 16px;

  border-radius: 5px;
  border: none;
  font-family: "Inter", sans-serif;
}

.field:focus {
  outline: none;
}

.description {
  height: 100px;
  resize: none;
}

.modal_btns {
  margin-top: 25px;
}

.modal_btn {
  width: 150px;
  height: 35px;

  background: linear-gradient(180deg, #483d7c 0%, #150b43 161.67%);
  color: #fff;

  font-size: 18px;

  margin-left: 5px;

  border: none;
  border-radius: 5px;
}

.modal_btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #30275c 0%, #0d062e 161.67%);
}
